:root {
  // base
  --content-width: 1160px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --black-color: #000000;

  --font-color: #666666;

  --global-color: #63aa7e;
  --yellow-color: #dec58b;
}

@mixin desktop {
  @media screen and (max-width: 1180px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}
ul[role='list'], ol[role='list'] {
  list-style: none;
}
h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}
h1, h2, h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img, picture {
  max-width: 100%;
  display: block;
}
input, button, textarea, select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/Museo-Black.woff2") format("woff2"), url("../fonts/Museo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*-----generals-----*/
body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: var(--font-color);
	background: var(--white-color);
	margin: 0;
	overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.screen-reader-text {
	display: none;
}
.d-container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}
.link-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dis-scroll {
	overflow: hidden;
	height: 100vh;
}

/* header */
.nav-open,
.nav-close {
	display: none;
}
.header {
	padding-top: 8px;
	padding-bottom: 8px;
	color: var(--white-color);
	background-color: var(--global-color);
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.logo {
		flex-shrink: 0;
		display: inline-flex;
		margin-right: 24px;
		color: var(--white-color);
		transition: color .3s ease;
		&:hover {
			color: #fae3ae;
		}
	}
}
.nav {
	&-list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			&:not(:first-child) {
				margin-left: 48px;
			}
			a {
				font-size: 14px;
				font-weight: 400;
				line-height: 1;
				text-decoration: none;
				color: var(--white-color);
				transition: color .3s ease;
				&:hover {
					color: #fae3ae;
				}
			}
		}
	}
}
@include tablet {
	.nav {
		&-list {
			li {
				&:not(:first-child) {
					margin-left: 28px;
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.nav-open,
	.nav-close {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: var(--white-color);
		transition: all .3s ease;
		cursor: pointer;
	}
	.nav-close {
		position: absolute;
		top: 16px;
		right: 16px;
		color: var(--black-color);
		&:hover {
			color: var(--font-color);
		}
	}
	.nav {
		&-menu {
			display: flex;
      align-items: center;
			justify-content: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 100%;
      padding: 40px 16px;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      background: var(--white-color);
      transition: right 0.4s;
      &.show {
        right: 0;
        z-index: 1000;
      }
		}
		&-list {
			justify-content: center;
			flex-direction: column;
			li {
				&:not(:first-child) {
					margin-left: 0;
				}
				&:not(:last-child) {
					margin-bottom: 32px;
				}
				a {
					display: inline-flex;
					font-size: 16px;
					font-weight: 600;
					color: var(--black-color);
					&:hover {
						color: var(--global-color);
					}
				}
			}
		}
	}
}
/* end header */


/* section hero */
.hero {
	padding-top: 32px;
	padding-bottom: 40px;
	// min-height: 500px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
	}
	&__content {
		margin: 0 -60px 0 0;
		padding: 32px;
		width: calc(43.1% + 60px);
		color: var(--white-color);
		background-color: var(--global-color);
		z-index: 2;
		h1 {
			margin-top: 0;
			margin-bottom: 16px;
			font-family: 'Museo', sans-serif !important;
			font-size: 32px;
			font-weight: 900;
			line-height: 1.33;
			color: var(--white-color);
		}
		p {
			margin-top: 16px;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 1.22;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	&__image {
		width: 56.9%;
		height: fit-content;
		min-height: 430px;
		img {
			width: 100%;
			height: fit-content;
			object-fit: cover;
		}
	}
}
@include tablet {
	.hero {
		padding-top: 20px;
		min-height: auto;
		&__container {
			flex-direction: column;
		}
		&__content {
			margin: 0;
			padding: 28px 24px 32px 28px;
			width: 100%;
			h1 {
				margin-bottom: 12px;
				font-size: 28px;
			}
			p {
				margin-top: 12px;
				font-size: 16px;
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}
		&__image {
			width: 100%;
			aspect-ratio: 66 / 43;
			height: auto;
			min-height: auto;
			img {
				height: auto;
			}
		}
	}
}
@include mobile {
	.hero {
		&__content {
			padding: 20px 16px 20px 20px;
			h1 {
				margin-bottom: 12px;
				font-size: 22px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}
/* end section hero */